<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresos-Gastos:Lista</title>
</head>
<style>
    table, th, td{
        border: 1px solid rgba(134, 70, 201, 0.641)
    }
</style>
<body>

    <header>
        <div>
            <a href="/">Inicio</a>
            <a href="/new">Nuevo</a>
            <a href="/update">Editar</a>
            <a href="/delete">Borrar</a>
        </div>
        <h1>Aplicación web Flask BCeroXVIII</h1> 
        
    </header>

    <section>
        {#esto es un comentario en Jinja#}
        {%block pageBase%}

        {%endblock%}
    </section>

    <footer>
        &copy;2023 - todos los derechos reservados - lucastorregrosa@gmail.com
    </footer>


    
</body>
</html>